section.section
    .columns(style='text-align:center;margin:10px;padding:20px')
        .column
        .column.is-one-third
            form(action='/login' method='post')
                .container(style='border: 1px solid lightgray; border-radius: 3px;padding: 15px;margin:10px')
                    | {{if .content}}
                    .notification.is-danger.is-light
                        | {{.content}}
                    |                     {{end}}
                    .field(style='text-align:center;margin:10px;padding:20px')
                        label.label Username
                        .control
                            input.input(type='text' placeholder='Enter Username' name='username' required='')
                    .field(style='text-align:center;margin:10px;padding:20px')
                        label.label Password
                        .control
                            input.input(type='password' placeholder='Enter Password' name='password' required='')
                    .field(style='text-align:center;margin:10px;padding:20px')
                        button.button.is-link(style='text-align:center;margin:10px;padding:10px') Submit
        .column
