<section class="section">
    <div class="container"
         style="text-align:center;margin:10px;padding:20px">
        <h1 class="title">
            Welcome To <strong><em>DATA COLLECTION MANAGEMENT SYSTEM</em></strong>
        </h1>
        <p class="subtitle"
           style="margin:10px;padding:20px">
            If you already have account, enter 'Go To Login Page'
            and if you don't have account please contact with our support team :)
        </p>
        <a href="http://37.32.14.170:8080/login">
            <button style="text-align:center;margin:10px;padding:10px">Go To Login Page</button>
        </a>
    </div>
</section>